<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body{background:#C1D8C3;font-family:Arial;}

.container{
    max-width:400px;
    margin:auto;
    background:white;
    padding:20px;
    margin-top:50px;
    border-radius:10px;
}

input,select,button{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    background:green;
    color:white;
    border:none;
}
</style>
</head>

<body>

<div class="container">
<h2>Payment</h2>

<form method="POST">
{% csrf_token %}
<input placeholder="Card Name">
<input placeholder="Card Number">
<input placeholder="Expiry">
<input placeholder="CVV">
<select>
<option>UPI</option>
<option>Card</option>
</select>
<button>Pay Now</button>
</form>

</div>

</body>
</html>